<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://markstruzinski.com">The awesome guide</a>
      by <a href="http://markstruzinski.com">Mark Struzinski</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
